<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yalla">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Kopelman Personal Trainer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity3" />
        <activity android:name=".PhoneLogin" />
        <activity android:name=".verifyPhone" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".signUpActivity" />
        <activity android:name=".loginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>