<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yalla">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START"/>
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoblue"
        android:label="Kopelman Personal Trainer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".PlansActivty"
            android:exported="false" />
        <activity
            android:name=".LastWorkoutDone"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity android:name=".Open">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoWorkout"
            android:exported="false" />
        <activity
            android:name=".WorkoutInfo"
            android:exported="false" />
        <activity android:name=".AdminMenu" />
        <activity android:name=".PhoneLogin" />
        <activity android:name=".VerifyCode" />
        <activity android:name=".UserMenu" />
        <activity android:name=".AboutUs" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>